.navigation-bar{
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
}

.link__navbar{
    color:white;
    padding: 20px;
    text-decoration: none;
}

a:hover{
    color: var(--color-text-white);
    opacity: .75;
    transition: opacity .4s;
    }