.App {
background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,4,1) 63%, rgba(19,84,214,1) 98%);
}

.App-header {
  display: flex;
} 

.search-control__div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.push-right{
  margin-left: 20em;
}